@using AsadMVC.Models;
@model CustomerListModel;

<h1>Customers Records</h1>

<span class="btn btn-outline-dark ">@Html.ActionLink("Create New", "Create")</span>
@*<p>@Html.ActionLink("Create New", "Edit")</p>
<p>@Html.ActionLink("Create New", "Delete")</p>*@

@Html.ValidationSummary(true, "", new {@class = "alert alert-danger"})
<table class="table">
    <tr>
        <th>ID</th>
        <th>Account Number</th>
        <th>Name</th>
    </tr>
    @foreach (CustomerModel item in Model.Customers)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.AccountNo</td>
            <td>@item.Name</td>
            <td>@Html.ActionLink("Display", "Display", new {item.Id})</td>
            <td>@Html.ActionLink("Edit", "Edit", new {item.Id})</td>
            <td>@Html.ActionLink("Delete", "Delete", new {item.Id})</td>
        </tr>
    }

</table>